@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}


.daily-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid oklch(55.2% 0.016 285.938);
  border-radius: 4px;
  background: oklch(21% 0.006 285.885);
  cursor: pointer;
  position: relative;
  margin-right: 8px;
  transition: border-color 0.2s, background 0.2s;
}

.daily-checkbox:checked {
  background:oklch(21% 0.006 285.885);
  border-color: oklch(21% 0.006 285.885);
}

.daily-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}