@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}


.daily-checkbox {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid oklch(55.2% 0.016 285.938);
  border-radius: 4px;
  background: oklch(27.4% 0.006 286.033);
  cursor: pointer;
  position: relative;
  margin-right: 8px;
  margin-left: 4px;
  transition: border-color 0.2s, background 0.2s;
  
}



.daily-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 4px;
  width: 6px;
  height: 12px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.text-outline {
  color: white; 
  text-shadow: 
  0.1em 0 black, 0 0.1em black, -0.1em 0 black, 0 -0.1em black, -0.1em -0.1em black, -0.1em 0.1em black, 0.1em -0.1em black, 0.1em 0.1em black;
}

.text-stroke {
  text-shadow: 
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000,
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}


.error {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dc3545;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  z-index: 1000;
  animation: slideUp 0.3s ease-out;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.error.fade-out {
  opacity: 0;
}

@keyframes slideUp {
  from {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

